.mole {
  background: url('mole.jpg');
}

.cell {
  background-size: 102px;
  border: 1px solid black;
  float: left;
  min-height: 100px;
  min-width:  100px;
}

.row {
  width: 310px;
}

/* .mole:hover {
  background: url('x.png');
} */

.fin {
  font-size: 800;
  background: 'red';
}
